<!DOCTYPE html>
<html ng-app="FoodTracker">
  <head>
    <title>Food Tracker</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom styles for this template-->
    <!-- <link href="../public/stylesheets/main.a3f694c0.css" rel="stylesheet"> -->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="/"><span class="navbar-brand center">Food Tracker</span></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/search">Search Food</a>
          <a class="nav-item nav-link" href="/nutrition">Daily Nutrition</a>
          <a class="nav-item nav-link" href="/recommendation">Recommendation</a>
        </div>
      </div>
    </nav>


    <div class="white-text-container background-image-container" style="background-image: url('/assets/img-home.jpg')">
      <div class="opacity"></div>
      <div class="container">
          <div class="row">
             
              <div class="col-md-6">
                  <h1>Food Tracker</h1>
                  <p> write some introduction... </p>
              </div>
  
          </div>
      </div>
    </div>

    <div class="black-text-container section-container border-section-container">
        <div class="container">
                    <div class="col-md-12 section-container-spacer">
                        <div class="text-center">
                            <h2 >Features</h2>
                            <p> We have three features in our website.... </p>
                        </div>
                    </div>
            <div class="row"> 
                    <div class="col-md-4">
                        <div class="fa-container">
                            <i class="fa fa-cutlery fa-3x" aria-hidden="true" style='color: #000'></i>
                        </div>
                        <div class="text-center">
                            <a href="/search"><h3>SEARCH</h3></a>
                        </div>
                        <div>
                            <p>This page....</p>
                        </div>
                      </div>
                    <div class="col-md-4">
                        <div class="fa-container">
                            <i class="fa fa-calculator fa-3x" aria-hidden="true" style='color: #000'></i>
                        </div>
                        <div class="text-center">
                            <a href="/nutrition"><h3>CALCULATOR</h3></a>
                        </div>
                        <div>
                            <p>This page....</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fa-container">
                            <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true" style='color: #000'></i>
                        </div>
                        <div class="text-center">
                            <a href="/recommendation"><h3>RECOMMENDATION</h3></a>
                        </div>
                        <div>
                            <p>This page.... </p>
                        </div>
                    </div>
    
              </div>
        </div>
    </div>

    <div class="row">
        <div class="flip-card col-md-4">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img class='flip-img' src="assets/category/beef.jpg" alt="Avatar" style="width:400px;height:200px;">
                </div>
                <div class="flip-card-back">
                <h1>Meat</h1>
                </div>
            </div>
        </div>   
        <div class="flip-card col-md-4">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                    <img class='flip-img' src="assets/category/vege.png" alt="Avatar" style="width:400px;height:200px;">
                    </div>
                    <div class="flip-card-back">
                    <h1>Meat</h1>
                    </div>
                </div>
        </div>  
        <div class="flip-card col-md-4">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                    <img class='flip-img' src="assets/category/beverage.jpeg" alt="Avatar" style="width:400px;height:200px;">
                    </div>
                    <div class="flip-card-back">
                    <h1>Meat</h1>
                    </div>
                </div>
        </div>  
    </div>  
     




    <footer>
        <div class="black-text-container section-container footer-container">
            <div class="container">
                        <div class="col-md-12">
                            <h5><b>About us</b></h5>
                            <p class="fa fa-user" aria-hidden="true" style='color: #000'> Wendi Kuang</p>
                            <p class="fa fa-user" aria-hidden="true" style='color: #000; padding-left:15px'> Yuezhan Tao</p>
                            <p class="fa fa-user" aria-hidden="true" style='color: #000; padding-left:15px'> Wendy Yixue Feng</p>
                            <p class="fa fa-user" aria-hidden="true" style='color: #000; padding-left:15px'> Xuchen Wang</p>
                        </div>

            </div>
        </div>
    </footer>


    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
