<!DOCTYPE html>
<html ng-app="FoodTracker">
  <head>
    <title>Food Tracker</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/search.css" rel="stylesheet">
  </head>

  <body  ng-controller="searchController">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand main-title-top" href="/">Food Tracker</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="/search">Search Food</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/nutrition">Daily Nutrition</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/recommendation">Recommendation</a>
              </li>
            </ul>
          </div>
        </nav>
    </br>



  <div class="section-container no-padding search-container input-container" ng-controller="searchController">
  <div class="container">
      <div class="jumbotron">
          <div class="col-xs-12">
              <div class="row">
                  <div class="col-md-6">
                      <div class="page-title-top">Search Food</div>
                          <div class="form-group">
                            <div class="div-row h6">Step 1: Input the food your wish to search for</div>
                            </br>
                            <div class="div-row">
                              <div class="div-cell"><input type="text" ng-model="major_desc"
                                placeholder="Search for ..." id="major-desc" class="major-desc-input"/></div>
                              <div class="div-cell"><button class="search-btn" ng-click="searchMajorDesc()">Search</button></div>
                            </div>
                          </div>
                          <br>
                          <div class="form-group">
                              <div class="div-row h6">Step 2: Select the specific item to display it's nutrients</div>
                          </br>
                              <div class="div-row">
                                <div class="dropdown-container div-cell" id="search-input-2">
                                  <select class="dropdown" id="minor_desc" ng-model="selectedItem"
                                    ng-options="item.descMajor + ' ' + item.descMinor for item in items"></select>
                                </div>
                                <div class="div-cell"><button id="search-desc" class="search-btn" ng-click="searchMinorDesc()">Select</button></div>
                              </div>    
                          </div>
                          <br>
                          <br>
                          <br>
                          <img src="/assets/recommend-img1.gif" alt="food_animation" style="width:220px;height:130px;" class="center">

                  </div>

                  <!-- <div class="col-md-5 col-md-offset-1 input-container"> -->
                    <div class="col-md-6">
                      <h3>Result</h3>
<!-- 
                        <div class = "scroller" >
                          <div class="result-row" id="nutrients" ng-repeat="nutrient in nutrients">
                                  <div class="result-column">
                                        {{nutrient.name}}
                                  </div>
                                  <div class="result-column">
                                        {{nutrient.amount | number: 1}}
                                  </div>
                          </div>
                        </div> -->
                        <br>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Nutrition</th>
                                <th scope="col">Amount (per 100g)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="nutrient in nutrients">
                                <th scope="row">{{nutrient.name}}</th>
                                <td>{{nutrient.amount | number: 1}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                  </div>

                </div>
              </div>
    </div>
  </div>
  </div>




    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
