
.black-text-container{
  color:#000000;
  /* text-shadow:0 1px 3px #000 */
}

.white-text-container{
  color:#fff;
  text-shadow:0 1px 3px #000
}

.background-image-container{
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:top;
  padding:12%;
  height: 80%
}


.opacity{
  background-color:rgba(255,255,255,.4);
  position:absolute;
  left:60px;
  right:500px;
  bottom:100px;
  top:100px;
}


.col-md-6{
  position:relative;
  min-height:1px;
  padding-left:300px;
  padding-right:15px;
  padding: 2rem;
}

.col-md-12, .col-md-4{
  position:relative;
  min-height:1px;
  padding-left:15px;
  padding-right:15px
}


.section-container{
  padding:60px 0
}

.section-container-spacer{
  margin-bottom:30px
}

.background-color-container{
  background-color:#0c0633;
  padding:60px 0
}

.border-section-container{
  border-top:1px solid #eee;
  border-bottom:1px solid #eee
}

.footer-container{
  padding:30px 0;
  border-top:1px solid #eee
}

.text-center{
  text-align:center
}

.fa-container{
  text-align:center;
  color:#0c0633
}