.people-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.people-container .person {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.person .column {
  flex: 1 0 20%;
}


.white-text-container{
  color:#fff;
  text-shadow:0 1px 3px #000
}

.background-image-container{
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:top;
  padding:12%
  /* padding: 2rem; */
}


.opacity{
  background-color:rgba(0,0,0,.2);
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0
}


.col-md-6{
  position:relative;
  min-height:1px;
  padding-left:300px;
  padding-right:15px;
  padding: 2rem;
}

.col-md-12, .col-md-4{
  position:relative;
  min-height:1px;
  padding-left:15px;
  padding-right:15px
}


.section-container{
  padding:60px 0
}

.section-container-spacer{
  margin-bottom:30px
}

.background-color-container{
  background-color:#0c0633;
  padding:60px 0
}

.border-section-container{
  border-top:1px solid #eee;
  border-bottom:1px solid #eee
}

.footer-container{
  padding:30px 0;
  border-top:1px solid #eee
}

.text-center{
  text-align:center
}

.fa-container{
  text-align:center;
  color:#0c0633
}