  body{
    background-image: url(bg1.png);
    background-repeat: repeat repeat;
    background-size: 1000px 1000px;
  }

  .nutrition-container {
      margin-top: 2rem;
    }
  
  .h5 {
    padding-bottom: 20px;
  }

  .h6{
    padding-bottom: 20px;
  }

  .input-container .description-input {
    margin-left: 20px;
    width: 250px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
  }

  .amount-input {
    margin-left: 20px;
    width: 150px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
  }

  .result-container {
    margin-top: 20px;
    padding: 2px 16px;
  }

  .search-btn {
    margin-left: 20px;
    width: 100px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    background: #32ab51;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
  }

  .compute-btn {
    margin-left: 350px;
    width: 100px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    background: #32ab51;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
  }

  .search-table {
    display: table;     
    width: auto;         
    border: 10px;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
  }
  
  .search-row {
    display: table-row;
    width: auto;
  }
  .search-cell {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: auto;         
  }
  
  .result-column {
    float: left;
    width: 300px;
  }

  /* Clear floats after the columns */
  .result-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .add-button-column {
    float: left;
    padding-left:25px;
    width: 150px;
  }

  .display-column {
    float: left;
    width: 200px;
  }

  /* Clear floats after the columns */
  .display-row {
    content: "";
    display: table;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
  }

  .delete-button-column {
    float: left;
    padding-left:25px;
    width: 150px;
  }

  .search-btn:hover {
    background: #26d701;
  }
  
  .search-btn:active {
    background: #00c301;
  }

  .compute-btn:hover {
    background: #26d701;
  }
  
  .compute-btn:active {
    background: #00c301;
  }