  body{
    background-image: url(bg1.png);
    background-repeat: repeat repeat;
    background-size: 1000px 1000px;
  }

  .nutrition-container {
      margin-top: 2rem;
    }
  
  .h5 {
    padding-bottom: 20px;
  }

  .h6{
    padding-bottom: 20px;
  }

  .input-container .description-input {
    /* margin-left: 20px; */
    width: 250px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
  }

  .amount-input {
    margin-left: 20px;
    width: 150px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
  }

  .result-container {
    margin-top: 20px;
    padding: 2px 16px;
  }

  .search-btn {
    margin-left: 20px;
    width: 100px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    background: #32ab51;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
  }

  .compute-btn {
    margin-left: 350px;
    width: 100px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    background: #32ab51;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
  }

  .search-table {
    display: table;     
    width: 40%;         
    border: 10px;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
  }

  .right-content{
    width: 60%;
  }
  
  .search-row {
    display: table-row;
    width: auto;
  }
  .search-cell {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: auto;         
  }
  
  .result-column {
    float: left;
    width: 300px;
  }

  /* Clear floats after the columns */
  .result-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .add-button-column {
    float: left;
    padding-left:25px;
    width: 10%;
  }

  .food-search-item-col {
    width: 60%;
  }

  .display-column {
    float: left;
    width: 200px;
    font-size: larger;
  }

  /* Clear floats after the columns */
  .display-row {
    content: "";
    display: table;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
  }

  .delete-button-column {
    float: left;
    padding-left:25px;
    width: 150px;
  }

  .search-btn:hover {
    background: #26d701;
  }
  
  .search-btn:active {
    background: #00c301;
  }

  .compute-btn:hover {
    background: #26d701;
  }
  
  .compute-btn:active {
    background: #00c301;
  }

  .my-custom-scrollbar {
    /* position: relative; */
    height: 350px;
    border-width: 10px;
    border-color:10px;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

  .food-result-table {
    border-collapse: collapse;
    width: 90%;
  }

  .user-food-table{
    margin-left: 5%;
    width: 80%
  }

  .user-food-scroller {
    height: 300px;
  }

  /* th { 
    text-align: left; 
    position: sticky; 
    top: 0;
    background-color: #f3f4f7;
    border: 1px solid #ddd !important;
    } */

  tr {
    border-bottom: 0.5px solid #ccc;
  }

  .user-food-table th, .user-food-table td {
      border: 0px !important;
  }