.search-container {
  margin-top: 2rem;
}

.h5 {
  padding-bottom: 20px;
}

.input-container .major-desc-input {
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.search-container .search-btn {
  margin-left: 20px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #bd54a4;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.search-container .dropdown {
  background: #fff;
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.div-table {
  display: table;     
     
  width: auto;         
  border: 10px;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-row {
  display: table-row;
  width: auto;
}
.div-cell {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: auto;         
}

.input-container .search-btn:hover {
  background: #c561ae;
}

.input-container .search-btn:active {
  background: #d86bbe;
}